<%= form_for([@question, @question.answers.build]) do |f| %>
    <% if @question.answers.build(@answer_id).errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.answers.build(@answer_id).errors.count, "error") %> prohibited this answer from being saved:</h2>

          <ul>
          <% @question.answers.build.errors(@answer_id).full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
