<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @question.difficulty %>
</p>

<p>
  <b>Origin:</b>
  <%= @question.origin %>
</p>

<h2>Answers</h2>
<%= render @question.answers %>
<h2>Add an answer:</h2>

<%= render "formNanswer" %>

<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Back', questions_path %>
